In [1]:
import pandas as pd

In [2]:
data = {
    "type": ["TV", "Movie", "TV", "OVA", "Movie", "TV"],
    "score": [8.5, 7.9, 8.8, 6.5, 8.2, 9.1],
    "members": [500000, 300000, 800000, 100000, 450000, 900000],
}

df = pd.DataFrame(data)

In [ ]:
df.groupby("type")["score"].mean()

In [ ]:
# Множественная агрегация
df.groupby("type")[["score", "members"]].agg({
    "score": "mean",
    "members": "sum",
})

In [ ]:
# Несколько агрегаций по одной колонке
df.groupby("type")["score"].agg(["mean", "count", "sum", "min", "max"])

In [ ]:
# Переименование после агрегации
df.groupby("type")[["score", "members"]].agg(
    avg_score=("score", "mean"),
    total_members=("members", "sum"),
    count_anime=("mal_id", "count")
).reset_index()

In [ ]:
# Можно использовать вместо HAVING
agg_df = (
    df.groupby("type")
      .agg(avg_score=("score", "mean"), total_members=("members", "sum"))
      .reset_index()
)

agg_df = agg_df[agg_df["avg_score"] > 8]
agg_df

In [13]:
# Practice
df = pd.read_csv("data/outliers.csv", encoding="utf-8")

In [ ]:
df["year"] = df["aired"].str.extract(r"(\d{4})").astype("Int64")
df

In [ ]:
agg = df.groupby(["year", "type"])["members"].sum().reset_index()

top_by_year = agg.loc[agg.groupby("year")["members"].idxmax()]
top_by_year

In [30]:
avg_by_year = df.groupby(["type", "year"])["score"].mean().reset_index().sort_values("year", ascending=False)

growth = (
    avg_by_year.sort_values(["type", "year"])
    .groupby("type")["score"]
    .agg(["first", "last"])
    .reset_index()
)
growth["growth"] = growth["last"] - growth["first"]
growth.sort_values("growth", ascending=False).head(1)

         type  first  last  growth
8  TV Special   8.25  9.03    0.78