In [1]:
import pandas as pd

In [2]:
anime_info = pd.DataFrame({
    "mal_id": [1, 2, 3, 4],
    "title": ["Naruto", "Bleach", "Attack on Titan", "One Piece"],
    "type": ["TV", "TV", "TV", "TV"]
})

anime_stats = pd.DataFrame({
    "mal_id": [1, 2, 3, 5],
    "score": [8.2, 7.9, 9.0, 6.5],
    "members": [500000, 400000, 800000, 200000]
})

In [ ]:
# Alternative join method using merge, here we can specify how to merge and on which columns
merged = pd.merge(anime_info, anime_stats, on="mal_id", how="inner")
# pd.merge(anime_info, anime_stats, on="mal_id", how="left")   # LEFT JOIN
# pd.merge(anime_info, anime_stats, on="mal_id", how="right")  # RIGHT JOIN
# pd.merge(anime_info, anime_stats, on="mal_id", how="outer")  # FULL OUTER
merged

In [4]:
df1 = pd.DataFrame({
    "mal_id": [1, 2, 3, 4],
    "title": ["Naruto", "Bleach", "Attack on Titan", "One Piece"],
    "type": ["TV", "TV", "TV", "TV"]
})

df2 = pd.DataFrame({
    "anime_id": [1, 2, 3, 5],
    "score": [8.2, 7.9, 9.0, 6.5],
    "members": [500000, 400000, 800000, 200000]
})

In [ ]:
# Merge based on different keys columns
merged = pd.merge(df1, df2, left_on="mal_id", right_on="anime_id", how="inner")
merged

In [ ]:
# Используется, когда у тебя одинаковые схемы (например, ты собрал 5 CSV из API и хочешь объединить их в один DataFrame).
df1 = pd.DataFrame({"a": [1, 2], "b": [3, 4]})
df2 = pd.DataFrame({"a": [5, 6], "b": [7, 8]})
pd.concat([df1, df2], ignore_index=True)
pd.concat([df1, df2], axis=1)


# Но! В проде (в ETL) так лучше не делать, потому что это может “разорвать” структуру таблицы.
# Перед concat обычно делают: чтобы порядок и названия совпадали.
df2 = df2.reindex(columns=df1.columns)

In [ ]:
# Join based on index, we can't specify how to join
anime_info.set_index("mal_id", inplace=True)
anime_stats.set_index("mal_id", inplace=True)
joined = anime_info.join(anime_stats, how="inner")
joined

In [9]:
df = pd.read_csv("data/anime.csv", encoding="utf-8")

In [ ]:
type_stats = df.groupby("type")[["score", "members"]].agg(
    {"score": "mean",
     "members": "mean"}
).reset_index()
type_stats

         type     score        members
0          CM  7.970000   10328.000000
1       Movie  8.300488  331870.201220
2       Music  8.365000   57971.500000
3         ONA  8.305357  105119.232143
4         OVA  8.170426  177192.702128
5          PV  8.203333   37175.333333
6     Special  8.196316  133291.842105
7          TV  8.314450  717261.277523
8  TV Special  8.341250  240464.500000

In [ ]:
merged = pd.merge(df, type_stats, on="type", how="inner", suffixes=(None, "_avg"))
df["score_diff"] = merged["score"] - merged["score_avg"]
df

In [ ]:
df.sort_values("score_diff", ascending=False).head(1)

In [24]:
df.to_csv("data/outliers.csv", index=False)