In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel("data/crm.xlsx")

Имя              object
Дата рождения    object
Телефон           int64
Покупка          object
Сумма             int64
Город            object
dtype: object

In [ ]:
# Работает только с одной колонкой (Series)
# Применяет функцию к каждому элементу этой колонки
df["Телефон"] = df["Телефон"].map(str)
# или даже словарь для замены значений
df["rating"] = df["rating"].map({"дг": "ДГ", "PG": "Teens", "R": "Adults"})

In [ ]:
df["Дата рождения"] = pd.to_datetime(df["Дата рождения"], errors="coerce")
df.dtypes

In [34]:

# Работает с DataFrame или Series.
# Если применяешь к Series — то аналог map().
# Если применяешь к DataFrame — можешь указать axis=1, чтобы применить к каждой строке.
# Пример 1 — применить к одной колонке:
from datetime import date
today = date.today()
df["Город"] = df["Город"].apply(str.upper)

df["Возраст"] = df["Дата рождения"].apply(lambda x:
    today.year - x.year -
    ((today.month, today.day) < (x.month, x.day))
).astype("Int64")
df

,Имя,Дата рождения,Телефон,Покупка,Сумма,Город,Возраст
0,Асемгуль,1958-02-20,77027775398,очки,18000,ШЫМКЕНТ,67
1,Гузаль,NaT,77763307504,мкл,6000,ШЫМКЕНТ,<NA>
2,Садыкбаева Калдыгуль,1983-10-02,77769468989,мкл,7000,ШЫМКЕНТ,42
3,Сауле,1983-12-15,77029021776,очки,7000,ШЫМКЕНТ,41
4,Маханова Лаззат,1962-12-14,77057213427,очки,8500,ШЫМКЕНТ,62
...,...,...,...,...,...,...,...
872,Байниязов Асыл,1983-03-29,77010840535,очки,24500,ШЫМКЕНТ,42
873,Шаменов Бакытжан,1979-04-05,77711481979,очки,15000,ШЫМКЕНТ,46
874,Байменов Мурат,1976-08-08,77761491090,очки,4500,ШЫМКЕНТ,49
875,Орынбек Сауле,2002-01-05,77769813710,мкл,9500,ШЫМКЕНТ,23
876,Юнус Бакуридзе,1996-02-14,77712579606,очки,19500,ШЫМКЕНТ,29

In [38]:
crm_stats = df.groupby("Покупка")[["Сумма", "Возраст"]].agg(avg_sum=("Сумма", "mean"), avg_age=("Возраст", "mean")).reset_index()

crm_stats.to_excel("data/crm_stats.xlsx", header=True, index=True, startrow=1, index_label="id")