In [2]:
import pandas as pd
from pathlib import Path

In [ ]:
df = pd.read_csv('../data/movie.csv', encoding='utf-8')
# df.head()
# df.dtypes
# df.loc[0]
# df.describe()
# df.shape
# Path('../data/processed').mkdir(parents=True, exist_ok=True)
# df.to_csv('../data/processed/cleaned_movie.csv', index=False)
df

In [ ]:
df_filtered = df.loc[
    # (df["type"] == "TV") &
    (df["score"] <= 8) &
    (df["episodes"] > 1),
    ["title", "type", "score", "episodes"]
]
df_filtered.head(10)

In [ ]:
df["year"] = df["aired"].str.extract(r"(\d{4})").astype("Int64")

df[["title", "aired", "year"]].head(10)

In [7]:
df_clean = df.dropna(subset=["score", "rating"])
print(f"До {len(df)}, После чистки {len(df_clean)} ")

До 742, После чистки 742

In [8]:
df_clean = df_clean.drop_duplicates(subset=["mal_id"])
df_clean = df_clean.drop(columns=["url", "trailer"])

In [ ]:
df_clean["popularity_score"] = df["score"] * (df["members"] / 10000)
df_clean[["title", "score", "members", "popularity_score"]].head()

In [10]:
avg_scores = (
    df_clean.groupby("type")["score"]
    .agg(["mean", "count"])
    .reset_index()
    .sort_values("mean", ascending=False)
)

avg_scores

    type      mean  count
0  Movie  6.667197    742

In [ ]:
df_clean["genres_list"] = df_clean["genres"].apply(
    lambda x: [g.strip() for g in x.split(",")] if isinstance(x, str) else []
)

df_action = df_clean[df_clean["genres_list"].apply(lambda g: "Action" in g)]
df_action

In [29]:
df_top = df_clean["popularity_score"].sort_values(ascending=False).head(10).round(2)
df_top

13     1740.12
31     1259.02
11     1169.95
59      939.59
2       865.07
5       760.09
214     751.60
33      675.60
296     669.21
69      634.36
Name: popularity_score, dtype: float64